@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cabin&family=Comfortaa&display=swap');
* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 24px;
}
  
html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #525b61;
    border-radius: 32px;
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 2.8rem;
    border-radius: 5rem;
    border-top-left-radius: 0;
    border: 0.2rem solid #130f40;
    cursor: pointer;
    background: none;
    color: #130f40;
    font-size: 1.7rem;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #130f40;
    z-index: -1;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    -webkit-clip-path: circle(0% at 0% 5%);
            clip-path: circle(0% at 0% 5%);
}

.btn:hover::before {
-webkit-clip-path: circle(100%);
        clip-path: circle(100%);
}

.btn:hover {
color: #fff;
}

@-webkit-keyframes fadeIn {
0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
}
}

@keyframes fadeIn {
0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
}
}

.header {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 9%;
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
}
/*
.header.active {
-webkit-transform: translateY(0rem);
        transform: translateY(0rem);
}

.header .logo {
font-size: 2.5rem;
color: #130f40;
font-weight: bolder;
}

.header .logo i {
color: #e67e22;
}

.header .navbar a {
margin: 0 1rem;
font-size: 1.7rem;
color: #666;
}

.header .navbar a:hover {
color: #e67e22;
}

.header .icons a,
.header .icons div {
font-size: 2.5rem;
margin-left: 1.5rem;
color: #130f40;
cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
color: #e67e22;
}

.header .login-form {
position: absolute;
top: 120%;
right: 2rem;
width: 35rem;
border-radius: 1rem;
background: #fff;
-webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
padding: 2rem;
display: none;
}

.header .login-form.active {
display: block;
-webkit-animation: fadeIn .4s linear;
        animation: fadeIn .4s linear;
}

.header .login-form h3 {
color: #130f40;
font-size: 2.5rem;
padding-bottom: .5rem;
}

.header .login-form .box {
width: 100%;
border-bottom: 0.2rem solid #130f40;
border-width: .1rem;
padding: 1.5rem 0;
font-size: 1.6rem;
color: #130f40;
text-transform: none;
margin: 1rem 0;
}

.header .login-form .remember {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
gap: .5rem;
padding: 1rem 0;
}

.header .login-form .remember label {
font-size: 1.5rem;
cursor: pointer;
color: #666;
}

.header .login-form .btn {
width: 100%;
text-align: center;
margin: 1.5rem 0;
}

.header .login-form .btn:hover {
background: #130f40;
}

.header .login-form .links {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-top: 1rem;
}

.header .login-form .links a {
font-size: 1.4rem;
color: #e67e22;
}

.header .login-form .links a:hover {
color: #130f40;
text-decoration: underline;
} */


/* OLD */

/* a {
    color: #e0e8f0 !important;
    font-weight: 500;
}

a:hover {
    color: #FDB99B !important;
}

.navbar {
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.8rem;
}

.search {
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.search-box {
    display: none;
    position: absolute;
    top: 54px;
    background-color: rgba(97, 68, 78, 0.5);
    right: 30%;
    width: 350px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 4px solid #FDB99B;
}

.search-box::before {
    content: "";
    position: absolute;
    top: -32px;
    right: 12px;
    border-left: 12px solid transparent; 
    border-right: 12px solid transparent; 
    border-top: 14px solid transparent; 
    border-bottom: 14px solid #FDB99B; 
}

.search-box input[type="search"] {
    width: 230px;
    padding: 5px 10px;
    margin-left: 24px;
    border: 1px solid #FDB99B;
    outline: none;
    line-height: 24px;
}

.search-box input[type="button"] {
    width: 80px;
    padding: 5px 0;
    background: #FDB99B;
    border: 1px solid #FDB99B;
    outline: none;
    cursor: pointer;
    color: #fff;
    margin-left: -6px;
}

.icon-cart {
    cursor: pointer;
}

i {
    user-select: none;
    color: #e0e8f0 !important;
    font-weight: 500;
}

i:hover {
    color: #FDB99B;
}

.iconActive {
    color: #FDB99B;
}


.material-icons { 
    vertical-align: middle;
    font-size: 32px;
}


.bg-trans {
    background: rgba(0, 0, 0, 0.6)!important;
} */

/* OLD */